.editProductDetailsForm {
    background-color: #727279;
    padding: 20px 40px;
    border-radius: 8px;
    border: 1px solid #000;
}

.productDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.formField {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    label {
        width: 150px;
        display: flex;
    }

    input,
    textarea {
        width: 100%;
        background-color: #a9a7a7;
    }
}

.imagesFormField {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;

    .imageData {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 10px;

        input,
        textarea {
            background-color: #a9a7a7;
        }

        input {
            width: 100%;
        }
    }
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
}
